/* Adrián Pérez Menéndez UO301188 */
/* Estilos generales del proyecto MotoGP-Desktop*/

/* Selector: body (especificidad 0,0,1) */
body {
    background-color: #ffffff; /* fondo blanco */
    color: #000000; /* texto negro */
    font-family: Verdana, Geneva, sans-serif;
}

/* Selector: header (especificidad 0,0,1) */
header {
    background-color: #e3f0ff;
    color: #000000; 
}

/* Selector: h1 (especificidad 0,0,1) */
h1 {
    color: #0055aa;/* texto azul */
    background-color: #ffffff;
}


/* Selector: nav (especificidad 0,0,1) */
nav {
    color: #0055aa; 
    background-color: #ffffff;
}

/* Selector: nav a (especificidad 0,0,2) */
nav a {
    color: #0055aa;
    background-color: #cce6ff;
    text-decoration-line: none;
    padding: 0.3em 0.7em;
    border-radius: 4px;
    transition: background 0.2s;
}
/* Selector nav a.active (especificidad 0, 1, 2) */
nav a.active {
    color: #ffd700;
    background-color: #0055aa;
    font-weight: bold;
}

/* Selector: nav a:hover, nav a:focus (especificidad 0,0,3) */
nav a:hover,
nav a:focus {
    background-color: #cccccc; /* gris claro en hover */
    color: #0055aa; /* azul en hover */
}


