/* layout-cards.css */
/* Esquema de grid para el juego de memoria */

/* Grid general del main */
/* especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto; 
    gap: 1em; 
    padding: 1em;
}

/* H2 del título del juego que ocupa toda la primera fila */
/* especificidad: 002 */
main > h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.5em;
}

/* Adaptabilidad para móviles */
/* especificidad: 001 */
@media (max-width: 37.5em) { /* aprox 600px */
    main {
        /* redefinición de grid-template-columns */
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        /* redefinición de grid-template-rows */
        grid-template-rows: auto repeat(6, 1fr); /* 6 filas para las 12 cartas */
        /* redefinición de gap */
        gap: 1em;
    }

    main > h2 {
        /* redefinición de font-size */
        font-size: 1.3em;
        /* redefinición de margin-bottom */
        margin-bottom: 0.8em;
    }
}

/* Estilo para el párrafo del cronómetro */
/* especificidad: 011 */

main > p[role="timer"] {
    grid-column: 1 / -1;   /* Ocupa todas las columnas del grid */
    text-align: center;    /* Centra el texto */
    font-size: 1.5em;      /* Tamaño similar al encabezado */
    font-weight: bold;     /* Resalta el cronómetro */
    margin-bottom: 0;      /* Separación respecto a las cartas */
}


